<!-- <div id="testDisplay">
  <div id="testBoard"></div>
</div> -->

<div class="textBorder">
  <h1><%= user.name %>'s Games</h1>
</div>
<div class="controls">
  <a href="/games/new"><button>START A NEW GAME</button></a>
  <a href="/logout"><button>LOGOUT</button></a>
</div>

<ul class="gamesList">
  <div>
    <% user.games.forEach(game => { %>

    <li class="gameContainer">
      <span class="playerName"><img class="playerColorImg" src="/img/bK.png" /><%= game.playerBlack %></span>
      <a href="/games/<%= game._id %>">
        <div class="boardContainer">
          <div data-fen="<%= game.fen %>" id="<%= game._id %>" class="boardThumbnail">
          </div>
        </div>
      </a>
      <span class="playerName"><img class="playerColorImg" src="/img/wK.png" /><%= game.playerWhite %></span>
      <div class="controls"> <a href="/games/<%= game._id %>"><button>PLAY</button></a>
        <a href="/games/<%= game._id %>/edit"><button>EDIT</button></a>
        <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
          <input class="button" type="submit" value="DELETE" />
        </form>
      </div>
    </li>
  </div>
  <% }) %>
</ul>

<script src="/index.js" defer></script>