
<main class="fullView">
  <span display="none" data-playerwhite="<%= game.playerWhite %>" data-playerblack="<%= game.playerBlack %>" id="status"></span>
  
  <div class="capturedDisplay" id="capturedWhite"></div>
  <div class="statusBox"><span class="playerName playerStatus" id="statusBlack"><%= game.playerBlack %></span></div>
  
  <div class="boardBorder">
    <div data-opponent="<%= game.opponent %>" data-fen="<%= game.fen %>" data-gameid="<%= JSON.stringify(game._id)%>" data-capturedwhite="<%= game.capturedWhite %>" data-capturedblack="<%= game.capturedBlack %>" class=" board">
    </div>
  </div>
  
  <div class="statusBox"><span class="playerName playerStatus" id="statusWhite"><%= game.playerWhite %></span></div>
  <div class="capturedDisplay" id="capturedBlack"></div>
  
  <div class="controls">
    <a href="/games"><button id="homeBtn">BACK TO GAMES</button></a>
    <a href="/games/<%= JSON.stringify(game._id).replace(/"/g, '') %>/edit" id="editBtn"><button>EDIT BOARDSTATE</button></a>
  </div>
  
</main>

<script src="/show.js"></script>
<script>
  // const capturedWhite = game.capturedWhite



</script>